# File attributes for Git repository.
# References at https://git-scm.com/docs/gitattributes.

# Handle files as text and ensure Unix line endings.
* text=auto eol=lf

# Ignore differences on NPM's lockfile.
# Since version 5.7.0, NPM automatically handles merge conflicts.
package-lock.json -diff
