aiohttp==3.8.5 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
anyio==3.7.1 ; python_version >= "3.10" and python_version < "4.0"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "darwin"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
attr==0.3.2 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
classes==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
cmake==3.27.2 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
cozo-embedded==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
environs==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
fastapi==0.103.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
fschat @ git+https://github.com/lm-sys/FastChat.git@HEAD ; python_version >= "3.10" and python_version < "4.0"
fsspec==2023.6.0 ; python_version >= "3.10" and python_version < "4.0"
grpcio==1.57.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==0.17.3 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
huggingface-hub==0.16.4 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.14.0 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.0 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.19.0 ; python_version >= "3.10" and python_version < "4.0"
lago-python-client==0.44.0 ; python_version >= "3.10" and python_version < "4.0"
lancedb==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
lit==16.0.6 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown2[all]==2.4.10 ; python_version >= "3.10" and python_version < "4"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
networkx==3.1 ; python_version >= "3.10" and python_version < "4.0"
nh3==0.2.14 ; python_version >= "3.10" and python_version < "4.0"
ninja==1.11.1 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.9.5 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "4.0"
protobuf==4.24.2 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==13.0.0 ; python_version >= "3.10" and python_version < "4.0"
pycozo[embedded,pandas,requests]==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.12 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "4"
pylance==0.6.5 ; python_version >= "3.10" and python_version < "4.0"
pynvml==11.5.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
ratelimiter==1.2.0.post0 ; python_version >= "3.10" and python_version < "4.0"
ray==2.6.3 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.8.8 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
retry==0.9.2 ; python_version >= "3.10" and python_version < "4.0"
rich==13.5.2 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
safetensors==0.3.3 ; python_version >= "3.10" and python_version < "4.0"
samantha-clients @ file:///root/samantha-api/libs/clients ; python_version >= "3.10" and python_version < "4.0"
samantha-conversion @ file:///root/samantha-api/libs/conversion ; python_version >= "3.10" and python_version < "4.0"
samantha-dependencies @ file:///root/samantha-api/libs/dependencies ; python_version >= "3.10" and python_version < "4.0"
samantha-embed @ file:///root/samantha-api/libs/embed ; python_version >= "3.10" and python_version < "4.0"
samantha-middleware @ file:///root/samantha-api/libs/middleware ; python_version >= "3.10" and python_version < "4.0"
semver==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
sentencepiece==0.1.99 ; python_version >= "3.10" and python_version < "4.0"
shortuuid==1.0.11 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
starlette-exporter==0.16.0 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
svgwrite==1.4.3 ; python_version >= "3.10" and python_version < "4"
sympy==1.12 ; python_version >= "3.10" and python_version < "4.0"
tiktoken==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
tokenizers==0.13.3 ; python_version >= "3.10" and python_version < "4.0"
torch==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.9.0 ; python_version >= "3.10" and python_version < "4.0"
transformers==4.32.1 ; python_version >= "3.10" and python_version < "4.0"
triton==2.0.0.post1 ; python_version >= "3.10" and python_version < "4.0"
typeguard==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
vllm @ git+https://github.com/vllm-project/vllm.git@HEAD ; python_version >= "3.10" and python_version < "4.0"
wavedrom==2.0.3.post3 ; python_version >= "3.10" and python_version < "4"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4.0"
xformers==0.0.21 ; python_version >= "3.10" and python_version < "4.0"
xxhash==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
