name: julep

services:
  agents-api:
    depends_on:
      worker:
        condition: service_started
        required: true
    environment:
      AGENTS_API_HOSTNAME: localhost
      AGENTS_API_KEY: ${AGENTS_API_KEY}
      AGENTS_API_KEY_HEADER_NAME: Authorization
      AGENTS_API_PROTOCOL: http
      AGENTS_API_PUBLIC_PORT: "80"
      AGENTS_API_URL: http://agents-api:8080
      EMBEDDING_MODEL_ID: openai/text-embedding-3-large
      INTEGRATION_SERVICE_URL: http://integrations:8000
      LITELLM_MASTER_KEY: ${LITELLM_MASTER_KEY}
      LITELLM_URL: http://litellm:4000
      SUMMARIZATION_MODEL_NAME: gpt-4o-mini
      TEMPORAL_ENDPOINT: temporal:7233
      TEMPORAL_NAMESPACE: default
      TEMPORAL_TASK_QUEUE: julep-task-queue
      TEMPORAL_WORKER_URL: temporal:7233
      TRUNCATE_EMBED_TEXT: "True"
      WORKER_URL: temporal:7233
    image: julepai/agents-api:${TAG:-dev}
    networks:
      default: null
    ports:
      - mode: ingress
        target: 8080
        published: "8080"
        protocol: tcp
    deploy:
      resources:
        limits:
          memory: 4G

  integrations:
    image: julepai/integrations:${TAG:-dev}
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    networks:
      default: null
    ports:
      - mode: ingress
        target: 8000
        published: "8000"
        protocol: tcp

  litellm:
    command:
      - --config
      - /app/config.yaml
      - --port
      - "4000"
      - --num_workers
      - "8"
      - --telemetry
      - "False"
    depends_on:
      litellm-db:
        condition: service_started
        required: true
      litellm-redis:
        condition: service_started
        required: true
    environment:
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      DATABASE_URL: ${LITELLM_DATABASE_URL:-postgresql://${LITELLM_POSTGRES_USER:-llmproxy}:${LITELLM_POSTGRES_PASSWORD}@${LITELLM_POSTGRES_HOST:-litellm-db}:${LITELLM_POSTGRES_PORT:-5432}/${LITELLM_POSTGRES_DB:-litellm}?sslmode=${LITELLM_POSTGRES_SSLMODE:-prefer_ssl}}
      REDIS_URL: ${LITELLM_REDIS_URL:-${LITELLM_REDIS_PROTOCOL:-redis}://${LITELLM_REDIS_USER:-default}@${LITELLM_REDIS_HOST:-litellm-redis}:${LITELLM_REDIS_PORT:-6379}}
      GROQ_API_KEY: ${GROQ_API_KEY}
      LITELLM_MASTER_KEY: ${LITELLM_MASTER_KEY}
      OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}
      CEREBRAS_API_KEY: ${CEREBRAS_API_KEY}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      VOYAGE_API_KEY: ${VOYAGE_API_KEY}
    hostname: litellm
    image: ghcr.io/berriai/litellm-database:main-v1.46.6
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: bind
        source: ../llm-proxy/litellm-config.yaml
        target: /app/config.yaml
        bind:
          create_host_path: true
      - type: bind
        source: ../llm-proxy/.keys
        target: /app/.keys
        read_only: true
        bind:
          create_host_path: true

  litellm-db:
    environment:
      POSTGRES_DB: ${LITELM_POSTGRES_DB:-litellm}
      POSTGRES_PASSWORD: ${LITELM_POSTGRES_PASSWORD:-postgres}
      POSTGRES_USER: ${LITELM_POSTGRES_USER:-llmproxy}
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d ${LITELM_POSTGRES_DB:-litellm} -U ${LITELM_POSTGRES_USER:-llmproxy}
      timeout: 5s
      interval: 1s
      retries: 10
    image: postgres:16
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: volume
        source: litellm-db-data
        target: /var/lib/postgresql/data
        volume: {}

  litellm-redis:
    environment:
      REDIS_ARGS: --requirepass ${REDIS_PASSWORD:-redis}
    image: redis/redis-stack-server
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: volume
        source: litellm-redis-data
        target: /data
        volume: {}

  memory-store:
    image: timescale/timescaledb-ha:pg16
    environment:
      POSTGRES_PASSWORD: ${MEMORY_STORE_PASSWORD:-postgres}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    ports:
      - "5432:5432"
    volumes:
      - memory_store_data:/home/postgres/pgdata/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  vectorizer:
    image: timescale/pgai-vectorizer-worker:v0.2.1
    environment:
      PGAI_VECTORIZER_WORKER_DB_URL: postgres://postgres:${MEMORY_STORE_PASSWORD:-postgres}@memory-store:5432/postgres
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    command: [ "--poll-interval", "2s" ]
    ports:
      - "8501:8501"
    volumes:
      - vectorizer_data:/app/data
    depends_on:
      memory-store:
        condition: service_healthy

  memory-store-backup-cron:
    image: appropriate/curl
    command: >
      sh -c "while true; do
      pg_dump -h memory-store -U postgres -F c -b -v -f /backup/memory-store-$(date +\%Y-\%m-\%d-\%H-\%M-\%S).backup;
      sleep 86400;
      done"
    environment:
      PGPASSWORD: ${MEMORY_STORE_PASSWORD:-postgres}
    volumes:
      - memory_store_backup:/backup
    depends_on:
      memory-store:
        condition: service_healthy

  temporal:
    depends_on:
      temporal-db:
        condition: service_started
        required: true
    environment:
      DB: postgres12
      DB_HOST: temporal-db
      DB_PORT: "5432"
      DYNAMIC_CONFIG_FILE_PATH: config/dynamicconfig/temporal-postgres.yaml
      LOG_LEVEL: info
      POSTGRES_DB: ${TEMPORAL_POSTGRES_DB:-temporal}
      POSTGRES_PWD: ${TEMPORAL_POSTGRES_PASSWORD:-temporal}
      POSTGRES_SEEDS: temporal-db
      POSTGRES_TLS_CA_FILE: /cert/ca.crt
      POSTGRES_TLS_DISABLE_HOST_VERIFICATION: "false"
      POSTGRES_TLS_ENABLED: "false"
      POSTGRES_USER: ${TEMPORAL_POSTGRES_USER:-temporal}
      SKIP_DB_CREATE: "false"
      SKIP_SCHEMA_SETUP: "false"
      SQL_CA: /cert/ca.crt
      SQL_TLS_ENABLED: "false"
      TEMPORAL_ADDRESS: temporal:7233
      VISIBILITY_DBNAME: temporal_visibility
    hostname: temporal
    image: temporalio/auto-setup:1.25
    networks:
      default: null
    volumes:
      - type: bind
        source: ../scheduler/dynamicconfig
        target: /etc/temporal/config/dynamicconfig
        bind:
          create_host_path: true
      - type: bind
        source: ../scheduler/cert
        target: /cert
        bind:
          create_host_path: true

  temporal-db:
    environment:
      POSTGRES_DB: ${TEMPORAL_POSTGRES_DB:-temporal}
      POSTGRES_PASSWORD: ${TEMPORAL_POSTGRES_PASSWORD:-temporal}
      POSTGRES_USER: ${TEMPORAL_POSTGRES_USER:-temporal}
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d ${TEMPORAL_POSTGRES_DB:-temporal} -U ${TEMPORAL_POSTGRES_USER:-temporal}
      timeout: 5s
      interval: 1s
      retries: 10
    image: postgres:16
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: volume
        source: temporal-db-data
        target: /var/lib/postgresql/data
        volume: {}

  temporal-ui:
    environment:
      TEMPORAL_ADDRESS: temporal:7233
      TEMPORAL_CODEC_ENDPOINT: http://localhost/api/temporal
      TEMPORAL_CSRF_COOKIE_INSECURE: "true"
      TEMPORAL_FEEDBACK_URL: https://github.com/julep-ai/julep
      TEMPORAL_NOTIFY_ON_NEW_VERSION: "false"
      TEMPORAL_OPEN_API_ENABLED: "true"
      TEMPORAL_UI_ENABLED: "true"
    image: temporalio/ui:latest
    networks:
      default: null
    ports:
      - mode: ingress
        target: 8080
        published: "9000"
        protocol: tcp

  worker:
    environment:
      AGENTS_API_HOSTNAME: localhost
      AGENTS_API_KEY: ${AGENTS_API_KEY}
      AGENTS_API_KEY_HEADER_NAME: Authorization
      AGENTS_API_PROTOCOL: http
      AGENTS_API_PUBLIC_PORT: "80"
      AGENTS_API_URL: http://agents-api:8080
      PG_DSN: ${PG_DSN:-postgres://postgres:postgres@memory-store:5432/postgres}
      EMBEDDING_MODEL_ID: openai/text-embedding-3-large
      INTEGRATION_SERVICE_URL: http://integrations:8000
      LITELLM_MASTER_KEY: ${LITELLM_MASTER_KEY}
      LITELLM_URL: http://litellm:4000
      SUMMARIZATION_MODEL_NAME: gpt-4o-mini
      TEMPORAL_ENDPOINT: temporal:7233
      TEMPORAL_NAMESPACE: default
      TEMPORAL_TASK_QUEUE: julep-task-queue
      TEMPORAL_WORKER_URL: temporal:7233
      TRUNCATE_EMBED_TEXT: "True"
      WORKER_URL: temporal:7233
    image: julepai/worker:${TAG:-dev}
    networks:
      default: null

networks:
  default:
    name: julep_default

volumes:
  litellm-db-data:
    name: julep_litellm-db-data
  litellm-redis-data:
    name: julep_litellm-redis-data
  temporal-db-data:
    name: julep_temporal-db-data
  memory_store_data:
    name: julep_memory_store_data
  memory_store_backup:
    name: julep_memory_store_backup
  vectorizer_data:
    name: julep_vectorizer_data
