name: julep-integrations

# Shared environment variables
x--shared-environment: &shared-environment
  INTEGRATIONS_SERVICE_PORT: ${INTEGRATIONS_SERVICE_PORT:-8000}
  BROWSERBASE_API_KEY: ${BROWSERBASE_API_KEY}
  BROWSERBASE_PROJECT_ID: ${BROWSERBASE_PROJECT_ID}
  OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}
  SPIDER_API_KEY: ${SPIDER_API_KEY}
  BRAVE_API_KEY: ${BRAVE_API_KEY}
  LLAMA_API_KEY: ${LLAMA_API_KEY}
  CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
  CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
  CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
  MAILGUN_PASSWORD: ${MAILGUN_PASSWORD}

services:
  integrations:
    image: julepai/integrations:${TAG:-dev}
    build: .
    
    environment:
      <<: *shared-environment
    
    ports:
      - "${INTEGRATIONS_SERVICE_PORT:-8000}:${INTEGRATIONS_SERVICE_PORT:-8000}" # map host to container port

    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /app/
          ignore:
            - ./**/*.pyc
        - action: rebuild
          path: poetry.lock
        - action: rebuild
          path: Dockerfile
